
.icon-picture:before { content: '\e800'; } /* '' */
.icon-vcard:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-skype-1:before { content: '\e80a'; } /* '' */
.icon-pinterest-3:before { content: '\e80b'; } /* '' */
.icon-gplus-2:before { content: '\e80c'; } /* '' */
.icon-twitter-4:before { content: '\e80d'; } /* '' */
.icon-skype-3:before { content: '\e80e'; } /* '' */
.icon-vk:before { content: '\e80f'; } /* '' */
.icon-facebook-3:before { content: '\e810'; } /* '' */
.icon-instagram-2:before { content: '\e811'; } /* '' */
.icon-instagram-filled:before { content: '\e812'; } /* '' */
.icon-vimeo:before { content: '\e813'; } /* '' */
.icon-vimeo-rect:before { content: '\e814'; } /* '' */
.icon-facebook-4:before { content: '\e815'; } /* '' */
.icon-emo-coffee:before { content: '\e816'; } /* '' */
.icon-emo-beer:before { content: '\e817'; } /* '' */
.icon-glass:before { content: '\e818'; } /* '' */
.icon-music:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e81a'; } /* '' */
.icon-mail-alt-1:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-heart-empty:before { content: '\e81d'; } /* '' */
.icon-star-1:before { content: '\e81e'; } /* '' */
.icon-chat-empty:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e820'; } /* '' */
.icon-pencil:before { content: '\e821'; } /* '' */
.icon-gamepad:before { content: '\e822'; } /* '' */
.icon-forward:before { content: '\e823'; } /* '' */
.icon-reply:before { content: '\e824'; } /* '' */
.icon-reply-all:before { content: '\e825'; } /* '' */
.icon-upload-cloud-1:before { content: '\e826'; } /* '' */
.icon-download-cloud:before { content: '\e827'; } /* '' */
.icon-link:before { content: '\e828'; } /* '' */
.icon-home:before { content: '\e829'; } /* '' */
.icon-paper-plane-empty:before { content: '\e82a'; } /* '' */
.icon-subway:before { content: '\e82b'; } /* '' */
.icon-wechat:before { content: '\e82c'; } /* '' */
.icon-users-1:before { content: '\e82d'; } /* '' */
.icon-picture-1:before { content: '\e82e'; } /* '' */
.icon-cloud-thunder:before { content: '\e82f'; } /* '' */
.icon-moon-1:before { content: '\e830'; } /* '' */
.icon-cloud-sun:before { content: '\e831'; } /* '' */
.icon-fog-moon:before { content: '\e832'; } /* '' */
.icon-fog-cloud:before { content: '\e833'; } /* '' */
.icon-money:before { content: '\e834'; } /* '' */
.icon-comment-alt:before { content: '\e835'; } /* '' */
.icon-dollar:before { content: '\e836'; } /* '' */
.icon-euro:before { content: '\e837'; } /* '' */
.icon-globe:before { content: '\e838'; } /* '' */
.icon-edit-1:before { content: '\e839'; } /* '' */
.icon-camera-1:before { content: '\e83a'; } /* '' */
.icon-cloud:before { content: '\e83b'; } /* '' */
.icon-cancel-circled:before { content: '\e83c'; } /* '' */
.icon-cancel:before { content: '\e83d'; } /* '' */
.icon-flash:before { content: '\e83e'; } /* '' */
.icon-group:before { content: '\e83f'; } /* '' */
.icon-umbrella:before { content: '\e840'; } /* '' */
.icon-picture-2:before { content: '\e841'; } /* '' */
.icon-camera-alt:before { content: '\e842'; } /* '' */
.icon-fivehundredpx:before { content: '\e843'; } /* '' */
.icon-flight:before { content: '\e844'; } /* '' */
.icon-cafe:before { content: '\e845'; } /* '' */
.icon-restaurant:before { content: '\e846'; } /* '' */
.icon-moon:before { content: '\e847'; } /* '' */
.icon-camera:before { content: '\e848'; } /* '' */
.icon-users-2:before { content: '\e849'; } /* '' */
.icon-phone-1:before { content: '\e84a'; } /* '' */
.icon-lodging:before { content: '\e84b'; } /* '' */
.icon-tree-1:before { content: '\e84c'; } /* '' */
.icon-calendar:before { content: '\e84d'; } /* '' */
.icon-star-half-alt:before { content: '\e84e'; } /* '' */
.icon-star-half:before { content: '\e84f'; } /* '' */
.icon-chat:before { content: '\e850'; } /* '' */
.icon-cloud-moon:before { content: '\e851'; } /* '' */
.icon-fog-sun:before { content: '\e852'; } /* '' */
.icon-comment-empty:before { content: '\e853'; } /* '' */
.icon-star-empty-1:before { content: '\e854'; } /* '' */
.icon-skype-circled:before { content: '\e855'; } /* '' */
.icon-twitter-2:before { content: '\e856'; } /* '' */
.icon-skype-2:before { content: '\e857'; } /* '' */
.icon-facebook-2:before { content: '\e858'; } /* '' */
.icon-basket:before { content: '\e859'; } /* '' */
.icon-hail:before { content: '\e85a'; } /* '' */
.icon-pinterest-2:before { content: '\e85b'; } /* '' */
.icon-clouds-flash:before { content: '\e85c'; } /* '' */
.icon-windy-rain-inv:before { content: '\e85d'; } /* '' */
.icon-snow-heavy:before { content: '\e85e'; } /* '' */
.icon-snow-inv:before { content: '\e85f'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e860'; } /* '' */
.icon-hail-inv:before { content: '\e861'; } /* '' */
.icon-clouds-inv:before { content: '\e862'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e863'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e864'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e865'; } /* '' */
.icon-gplus-1:before { content: '\e866'; } /* '' */
.icon-dropbox:before { content: '\e867'; } /* '' */
.icon-twitter-3:before { content: '\e868'; } /* '' */
.icon-instagram-1:before { content: '\e869'; } /* '' */
.icon-phone:before { content: '\e86a'; } /* '' */
.icon-gplus:before { content: '\e86b'; } /* '' */
.icon-upload-cloud:before { content: '\e86c'; } /* '' */
.icon-upload:before { content: '\e86d'; } /* '' */
.icon-thumbs-down:before { content: '\e86e'; } /* '' */
.icon-thumbs-up:before { content: '\e86f'; } /* '' */
.icon-download:before { content: '\e870'; } /* '' */
.icon-skype:before { content: '\e871'; } /* '' */
.icon-facebook-official:before { content: '\e872'; } /* '' */
.icon-facebook-1:before { content: '\e873'; } /* '' */
.icon-pinterest-1:before { content: '\e874'; } /* '' */
.icon-facebook:before { content: '\e875'; } /* '' */
.icon-twitter-1:before { content: '\e876'; } /* '' */
.icon-vkontakte:before { content: '\e877'; } /* '' */
.icon-twitter:before { content: '\e878'; } /* '' */
.icon-pinterest:before { content: '\e879'; } /* '' */
.icon-instagram:before { content: '\e87a'; } /* '' */
.icon-facebook-squared:before { content: '\e87b'; } /* '' */