<div class="contact-page">
    <img src="images/chatrov.jpg" class="chatrov-photo" alt="Dmitriy Chatrov photo"/>
    <article class="quote">
        <h3>КОЛЛЕГИ О ДМИТРИИ ШАТРОВЕ</h3>
        <blockquote>«Редко встречаю людей с такой доброй увлеченностью тем, чем они занимаются. Увлеченных много, но вот  так, по-доброму, – редко. Диме всегда хочется улыбнуться в ответ».</blockquote>
        <p class="author">&copy; Андрей Журавлев</p>
    </article>
    <p class="about">Дмитрий – фотограф и путешественник, прошедший с рюкзаком и камерой более шестидесяти стран
        Европы, Южной и
        Северной Америки, Азиатского региона. Большую часть времени проводит в пути. Организатор мастер-классов и
        семинаров по фотографии, аккредитованный фотограф горных экспедиций в Кордильерах, Гималаях, на Памире,
        Тянь-Шане и Кавказе. Персональные выставки в Торонто, экспозиции во Франкфурте (галерея Leica), Монтре, Матанце,
        Москве. Его работы приобретены в частные коллекции Америки, Канады, Германии, Франции, Испании, Швейцарии, Кубы,
        России. Призер международных фотоконкурсов, имеет более семи десятков журнальных и газетных публикаций. Член
        Союза фотохудожников России и Кавказского горного общества. Основатель клуба «Фотопланета», объединяющего
        фотографов, прошедших выездные мастер-классы Дмитрия в разных точках мира.</p>

    <div class="write-to">
        <h2>Пишите Дмитрию</h2>
        <hr/>
        <div class="form-wrapper">
            <form id="feedback-form" class="feedback-form js-background">
                <input type="text" placeholder="Имя" name="name" class="form-elem">
                <input type="email" placeholder="e-mail" name="email" class="form-elem">
                <textarea cols="20" rows="2" placeholder="Вопросы и пожелания" name="feedback" class="form-elem"></textarea>
                <input type="text" class="form-elem captcha" placeholder="Введите символы">
                <img class="captcha-img" src="images/captcha.png"/>
                <input type="submit" class="form-elem submit-btn" value="Отправить">
            </form>
            <div class="form-half"></div>
        </div>
    </div>
</div>