<div class="heading clearfix"><h3>Активный фототур</h3></div>
<div class="selected-tour-body clearfix">
    <div class="selected-tour-img left">
        <div class="gallery-img-item city-item selected-tour-picture">
            <a href="cities.html">
                <div class="gallery-img"></div>
            </a>
        </div>
    </div>
    <div class="selected-tour-desc right">
        <h4>Непал, сердце долины Катманду (апрель 2016)</h4>
        <p>{{desc}}</p>
    </div>
</div>