<div class="wrapper">
    <header class="header">
        <a href="#" id="logo" class="logo"><h1>Dima Chatrov Photography</h1></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list-item"><a href id="nav-main">Главная</a></li>
                <li class="nav-list-item"><a href id="nav-about">Об авторе</a></li>
                <li class="nav-list-item"><a href id="nav-gallery">Галерея</a></li>
                <li class="nav-list-item"><a href="" id="nav-tours">Фототуры</a></li>
                <li class="nav-list-item"><a href="" id="nav-main">Фотоклуб</a></li>
                <li class="nav-list-item"><a href="http://www.profileschool.ru/teacher/show/id/14">Обучение</a></li>
                <li class="nav-list-item"><a href="http://dima-chatrov.livejournal.com/">Блог</a></li>
            </ul>
        </nav>
    </header>
    <div class="main grey-background-after">

    </div>
    <footer class="footer">
        <a href="#" class="footer-logo">
            <img src="images/logo-white.png" alt="logo">
        </a>
        <ul class="socials">
            <li class="socials-item"><a href=""><span class="social-icon icon-twitter"></span></a></li>
            <li class="socials-item"><a href=""><span class="social-icon icon-facebook"></span></a></li>
            <li class="socials-item"><a href=""><span class="social-icon icon-vkontakte"></span></a></li>
            <li class="socials-item"><a href=""><span class="social-icon icon-pinterest"></span></a></li>
            <li class="socials-item"><a href=""><span class="social-icon icon-instagram"></span></a></li>
            {{#if googlePlus}}
              <li class="socials-item"><a href="{{googlePlus}}"><span class="social-icon icon-gplus"></span></a></li>
            {{/if}}

        </ul>
    </footer>
</div>
