{{#each countries}}
    <li class="gallery-img-item city-item">
        <a href data-countryname="{{international}}" class="country-gallery-link">
            <div class="gallery-img" style="background-image: url({{cover}})"></div>
            <p class="img-caption">{{name}}</p>
        </a>
    </li>
{{/each}}