  <div id="gallery-accordion">
            <h3>По странам</h3>
            <div class="accordion-item">
                <ul class="cities-gallery gallery-slider">

                </ul>
                <span class="show-all-cities show-all">Показать все</span>
            </div>
            <h3>Избранные</h3>
            <div class="accordion-item">
                <ul class="gallery-slider best-gallery">

                </ul>
                <span class="show-all-best show-all">Показать все</span>
            </div>
            <h3>Все на одной странице</h3>
            <div class="accordion-item">
                <ul class="all-gallery">

                </ul>
                <span class="show-all-img show-all">Показать все</span>
            </div>
        </div>

        <div class="overlay"></div>
        <button class="close-popup">&times;</button>
        <div class="popup">
            <ul class="popup-slider">
                <li>
                    <img src="images/old/israel_1.jpg">
                    <div class="popup-caption">
                        <h3>Israel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptatibus.</p>
                    </div>
                </li>
                <li>
                    <img src="images/old/italy_1.jpg">
                    <div class="popup-caption">
                        <h3>Italy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptatibus.</p>
                    </div>
                </li>
                <li>
                    <img src="images/old/nepal_1.jpg">
                    <div class="popup-caption">
                        <h3>Nepal</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptatibus.</p>
                    </div>
                </li>
                <li>
                    <img src="images/old/russia_1.jpg">
                    <div class="popup-caption">
                        <h3>Russia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptatibus.</p>
                    </div>
                </li>
            </ul>
            <p class="slides-info">
                <span class="current-slide"></span>
                /
                <span class="total-slides"></span></p>
        </div>