<div id="gallery-accordion">
    <h3>По странам</h3>
    <div class="accordion-item">
        <ul class="cities-gallery gallery-slider">

        </ul>
        <span class="show-all-cities show-all">Показать все</span>
    </div>
    <h3>Избранные</h3>
    <div class="accordion-item">
        <ul class="gallery-slider best-gallery">

        </ul>
        <span class="show-all-best show-all">Показать все</span>
    </div>
    <h3>Все на одной странице</h3>
    <div class="accordion-item">
        <ul class="all-gallery">

        </ul>
        <span class="show-all-img show-all">Показать все</span>
    </div>
</div>

