<div class="logo">
    <img src="./images/logo.png" alt="logo">
</div>
<a class="gallery-button prev noselect" id="gallery-prev">&lang;</a>
<ul class="gallery" id="gallery">
    <li class="gallery-item active"><img src="./images/bg-main.jpg" alt="photo"></li>
    <li class="gallery-item"><img src="./images/bg-main-2.jpg" alt="photo"></li>
    <li class="gallery-item"><img src="./images/bg-main-3.jpg" alt="photo"></li>
    <li class="gallery-item"><img src="./images/bg-main-4.jpg" alt="photo"></li>
</ul>
<!--<a class="gallery-button next noselect" id="gallery-next">&rang;</a>-->