<div class="google-maps">
    <div class="map-box" id="map"></div>
    <!--<iframe src="https://www.google.com/maps/embed/v1/view?zoom=3&center=54.5260,15.2551&key=AIzaSyCjXPdOQ589nlHK3bD8CtU2Shww5VSApo8" width="600" height="450" frameborder="0" style="border:0"></iframe>-->
</div>
<div class="filters">
    <input type="checkbox" id="prev-filter" checked="checked">
    <input type="checkbox" id="next-filter" checked="checked">
    <label for="prev-filter" class="active noselect">
        <img width="50" src="images/bull-yellow.png" alt="">
        Ближайшие фототуры
    </label>
    <label for="next-filter" class="active noselect">
        <img width="50" src="images/bull-green.png" alt="">
        Завершенные фототуры
    </label>
</div>