<div class="heading clearfix">
    <h3>Ближайшие фототуры</h3>
    <ul class="year-list">
        <li>2016</li>
        <li class="active">2017</li>
        <li>2018</li>
    </ul>
</div>
<div class="gallery-wrapper">
    <ul class="gallery-slider next-tours-gallery">
        <li class="gallery-img-item city-item">
            <div class="gallery-img slider-img"></div>
            <div class="img-caption">
                <h4 class="tour-name">Крым</h4>
                <p class="tour-date">30.07-5.08.2016</p>
            </div>
        </li>
    </ul>
</div>