{{#each all}}
    <li class="gallery-img-item city-item">
        <a href="{{src}}" title="{{#if desc}}{{desc}}<br/>{{/if}}" class="fancybox link-block">
            <div class="gallery-img slider-img" style="background-image: url({{src}})"></div>
        </a>
    </li>
{{/each}}
