#contacts-frm {
  text-align: center;
  .frm-input {
    display: inline-block;
    vertical-align: middle;
  }

  .frm-ok {
    margin-top: 20px;
  }

  span {
    font-size: 3rem;
    vertical-align: middle;
  }

  .icon-gplus {
    color: #CC3D27;
  }

  .icon-instagram {
    color: #325C86
  }

  .icon-pinterest {
    color: #CB2027;
  }

  .icon-vkontakte {
    color: #4B74A5;
  }

  .icon-facebook {
    color: #3B5998;
  }

  .icon-twitter {
    color: #33CBFE;
  }

  .icon-mail-alt {
    color: #E6E381;
  }
}

