.footer {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: right;

  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
  }

  .socials {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;

    &::after {
      content: "";
      clear: both;
      display: table;
    }

    .socials-item {
      float: right;
      margin-left: 10px;

      a {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}