#gallery-accordion {
  background: $bg-accordion;
  padding: 5px;
  position: relative;
  z-index: 2;

  h3 {
    font: $font-nav;
    background: $bg-accordion-header;
    padding: 5px 10px;
    cursor: pointer;
  }

  .accordion-item {  padding: 10px 15px; }
}

.gallery-img {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.gallery-img-item .gallery-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-image: url("../images/israel_1.jpg");
}


.images-gallery {
  font-size: 0;

  .gallery-img-item {
    width: 24%;
    display: inline-block;
    margin: 10px .5%;
    vertical-align: top;
  }
}

.gallery-img-item { cursor: pointer; }


.gallery-img-item:hover .img-caption {
  background: $bg-figcaption-hover;
  color: $cl-figcaption-hover;
}

.img-caption {
  background: $bg-figcaption;
  text-align: center;
  padding: 5px;
  font: $font-gallery;
  color: $cl-figcaption;
}

.best-gallery {
  .img-caption {
    font-size: 1.5rem;
    height: 60px;
    overflow: hidden;
  }
}

.best-gallery, .country-gallery, .all-gallery {
  .fancybox {
    display: block;
  }
}

.show-all {
  display: block;
  cursor: pointer;
  margin: 10px 0;
  font: 1.5rem "Roboto";
  text-align: right;

  &:hover {
    text-decoration: underline;
    color: $cl-figcaption-hover;
  }
}


 .gallery-img-item .gallery-img  {
  background-size: 100%;
  transition:all .5s ease;
}

.gallery-img-item:hover .gallery-img   {
  background-size:130%;
}

.link-block {
  display: block;
}

