.js-show {
  opacity: 1;
  visibility: visible;
}
.js-background {
  background: rgba(255, 255 , 255, .3);
}

.js-hide {
  opacity: 0;
  visibility: hidden;
}

.form-elem.error {
  border: 1px solid #cb2027;
}

.error::-webkit-input-placeholder {color:#cb2027;}
.error::-moz-placeholder          {color:#cb2027;}
.error.error:-moz-placeholder     {color:#cb2027;}
.error:-ms-input-placeholder      {color:#cb2027;}