.js-show {
  opacity: 1;
  visibility: visible;
}
.js-background {
  background: rgba(255, 255 , 255, .3);
}

.js-hide {
  opacity: 0;
  visibility: hidden;
}

.error {
  color: #cb2027;
  font: 2rem "Roboto";
}