body {
  background: #d4d3d3;
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #94a19a;
  padding: 50px 90px;
  border-radius: 10px;

  .error-message {
    margin-top: 10px;
    background: rgba(255,0,0,.2);
    padding: 15px;
    display: none;
    font: 16px Roboto;
    width: 300px;
  }

  input {
    display: block;
    margin: 25px auto;
    transition: all .3s ease-in-out;
    padding: 5px;
    font-size: 2rem;
    border-radius: 5px;
    outline: none;
    width: 300px;
    border: 1px solid #DDDDDD;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  .captcha {
    width: 139px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 65px;
  }
  .captcha-img {
    vertical-align: middle;
    height: 33px;
    border-radius: 5px;
  }
  #submit {
    cursor: pointer;
    padding: 5px 40px;
    border: 1px solid #509111;
    background: linear-gradient(top, #68b12f, #50911e);
    text-shadow: 0 -1px 0 #396715;
    box-shadow: 0 1px 0 0 #9fd574 inset;
    color: #fff;
  }
}

