$bg-nav: #1a1a1a;
$bg-header: #08251e;
$bg-wrapper: #000;

$bg-main-after: #000;

$height-header: 490px;

$pt-header: 47px;

$mt-gallery: -331px;

$font-nav: 36px "Forum";
$font-nav-decoration: underline;

$font-sign: 48px "Forum";
