.social-icon {
  transition: all .5s;
}

a .icon-gplus:hover {
  color: #CC3D27;
}

a .icon-instagram:hover {
  color: #325C86
}

a .icon-pinterest:hover {
  color: #CB2027;
}

a .icon-vkontakte:hover {
  color: #4B74A5;
}

a .icon-facebook:hover {
  color: #3B5998;
}

a .icon-twitter:hover {
  color: #33CBFE;
}