<form id="adduser-frm">
  <input type="text" id="login" name="login" placeholder="Имя пользователя" class="frm-input">
  <input type="password" id="passwordNew" name="password" placeholder="Пароль" class="frm-input">
  <input type="password" id="repeat" placeholder="Повторите пароль" class="frm-input">
  <input type="submit" value="Сохранить" class="frm-ok">
</form>