<form id="contacts-frm">
  <label class="form-label">
    <span class="icon-vkontakte"></span>
    <input type="text" name="vkontakte" placeholder="vk.com" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-facebook"></span>
    <input type="text" name="facebook" placeholder="facebook.com" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-twitter"></span>
    <input type="text" name="twitter" placeholder="twitter.com" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-pinterest"></span>
    <input type="text" name="pinterest" placeholder="pinterest.com" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-instagram"></span>
    <input type="text" name="instagram" placeholder="instagram.com" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-gplus"></span>
    <input type="text" name="googlePlus" placeholder="google+" class="frm-input">
  </label>
  <label class="form-label">
    <span class="icon-mail-alt"></span>
    <input type="text" name="email" placeholder="email" class="frm-input">
  </label>
  <input type="submit" value="Сохранить" class="frm-ok">
</form>