<tr>
  <td>{{name}}<br>({{email}})</td>
  <td class="feedback-text">{{feedback}}</td>
  <td>{{#getDateTime date}}{{/getDateTime}}</td>
  <td><i class="icon-cancel remove-feedback" data-feedback-id="{{id}}"></i></td>
</tr>