<h2 class="tour-category-header edit-tours-header">Сообщения обратной связи</h2>
<table class="table feedbacks-tbl">
    <thead>
    <tr>
        <td>Отправитель</td>
        <td>Текст</td>
        <td>Дата</td>
        <td>Удалить</td>
    </tr>
    </thead>
</table>