<ul class="images-gallery">
    <li class="gallery-img-item city-item add-city">
        +
        <p class="img-caption">Добавить</p>
    </li>
    {{#each countries}}
        <li class="gallery-img-item city-item" data-countryname="{{international}}">
            <a href data-countryname="{{international}}" class="country-gallery-link">
                <div class="gallery-img" style="background-image: url({{cover}})"></div>
                <p class="img-caption">{{name}}  <i class="icon-cancel delete-country"></i></p>
            </a>
        </li>
    {{/each}}
</ul>