<form id="pass-frm">
  <input type="password" name="oldPassword" placeholder="Текущий пароль" class="frm-input">
  <input type="password" id="passwordNew" name="password" placeholder="Новый пароль" class="frm-input">
  <input type="password" id="repeat" name="passwordRepeat" placeholder="Новый пароль" class="frm-input">
  <input type="submit" value="Сохранить" class="frm-ok">
</form>