<form id="pass-frm">
  <input type="password" name="old" placeholder="Текущий пароль" class="frm-input">
  <input type="password" name="old" placeholder="Новый пароль" class="frm-input">
  <input type="password" name="old" placeholder="Новый пароль" class="frm-input">
  <input type="submit" value="Сохранить" class="frm-ok">
</form>