<iframe style="display: none;" name="hIFrame" src="about:blank"></iframe>
<form method="POST" enctype="multipart/form-data"  target="hIFrame" action="/api/gallery/upload" id="upload-form">
    <input type="text" value="text" name="country">
    <input type="file" id="select-file" name="image" multiple="multiple" name="downloaded_file">
    <input id="upload" type="submit" value="Upload Image">
</form>

<img id="image" src="#" alt="" />
