<form id="uploadForm"

      action="/api/gallery/upload"
      method="POST">
  <label class="select-label">
    <input type="file" name="images" id="select-file" multiple="multiple" />
    <span class="frm-ok">Выбрать фото <i class=" icon-upload"></i></span>
  </label>
  <input type="hidden" name="id" value="{{countryId}}"/>
  <ul class="images-gallery"></ul>
  <button type="submit" class="upload frm-ok js-hide">
  <span>Загрузить</span>
  <i class="spinner icon-spin4 animate-spin js-hide"></i>
  </button>
</form>