<h2 class="tour-category-header edit-tours-header">Заявки на участие в фототурах</h2>
<table class="table feedbacks-tbl">
    <thead>
        <tr>
            <td>Отправитель</td>
            <td>Текст</td>
            <td>Дата</td>
            <td>Удалить</td>
        </tr>
    </thead>
  <tr>
    <td colspan="5" class="no-feedbacks">Писем нет</td>
  </tr>
</table>