<h2 class="tour-category-header edit-tours-header">Заявки на участие в фототурах</h2>
<table class="table requests-tbl">
    <thead>
    <tr>
        <td>Название</td>
        <td>Дата</td>
        <td>Количество заявок</td>
    </tr>
    </thead>
    <tbody>
    <td colspan="7" class="no-feedbacks">Заявок нет</td>
    </tbody>
</table>