<li class="gallery-img-item city-item">
  <div class="gallery-img" style="background-image: url({{src}})"></div>
  <p class="img-caption">
    <input type="text" name="title[]" placeholder="Название" class="frm-input">
    <textarea name="desc[]" class="frm-input desc-area" placeholder="Описание"></textarea>
  </p>
</li>
