<h2 class="tour-category-header edit-tours-header">Новый фототур</h2>
<div class="tour-fields">
    <div class="tour-field">
        <label for="title">Название: </label>
        <input type="text" name="title" id="title">
    </div>
    <div class="tour-field">
        <label for="startDate">Начало тура: </label>
        <input type="text" name="startDate" id="startDate">
    </div>
    <div class="tour-field">
        <label for="endDate">Конец тура: </label>
        <input type="text" name="endDate" id="endDate">
    </div>
    <div class="tour-field">
        <label for="desc">Описание:</label>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
    </div>
    <div class="tour-field">
        <span class="input-group-header">Расположение на карте</span>
        <ul class="input-group">
            <li class="input-group-item">
                <label for="longitude">Долгота: </label>
                <input type="number" name="longitude" id="longitude" disabled>
            </li>
            <li class="input-group-item">
                <label for="latitude">Широта: </label>
                <input type="number" name="latitude" id="latitude" disabled>
            </li>
        </ul>
        <div class="edit-map" id="map"></div>
    </div>
    <div class="tour-field">
        <label for="cost">Цена: </label>
        <input type="number" name="cost" id="cost" value="0" min="0">
    </div>
    <div class="tour-field">
        <label for="price">Количество мест: </label>
        <input type="number" name="places" id="places" value="10" min="0">
    </div>
    <div class="tour-field">
        <label for="complexity">Сложность: </label>
        <input type="number" name="complexity" id="complexity" min="1" max="5" value="1">
    </div>
    <div class="tour-field">
        <span class="input-group-header">Что включено: </span>
        <ol class="input-group input-list" id="inclusive-list">
            <li class="input-group-item">
                <input type="text" class="wide-input value-input">
                <span class="icon-cancel tour-control delete-field"></span>
            </li>
        </ol>
        <button class="btn add-field-btn" id="add-inclusive">Добавить поле</button>
    </div>
    <div class="tour-field">
        <span class="input-group-header">Что не включено: </span>
        <ol class="input-group input-list" id="not-inclusive-list">
            <li class="input-group-item">
                <input type="text" class="wide-input value-input">
                <span class="icon-cancel tour-control delete-field"></span>
            </li>
        </ol>
        <button class="btn add-field-btn" id="add-not-inclusive">Добавить поле</button>
    </div>
    <div class="tour-field">
        <span class="input-group-header">Расписание: </span>
        <ul class="input-group" id="trip-schedule-list">
        </ul>
    </div>
    <form method="POST" action="/api/tours/{{id}}" id="create-tour">
        <div class="tour-field">
            <label>Обложка фототура</label>
            <ul class="images-gallery">
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                            <input type="file" class="js-hide select-file" name="cover">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
            </ul>
        </div>
        <div class="tour-field">
            <label>Фотографии вверху</label>
            <ul class="images-gallery">
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="head">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="head">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="head">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
            </ul>
        </div>
        <div class="tour-field">
            <label>Фотографии в центре</label>
            <ul class="images-gallery">
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="center">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="center">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
            </ul>
        </div>
        <div class="tour-field">
            <label>Фотографии внизу</label>
            <ul class="images-gallery">
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="footer">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="footer">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="footer">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
                <li class="add-pics gallery-img-item">
                    <label>
                        <div class="plus gallery-img">+</div>
                        <input type="file" class="js-hide select-file" name="footer">
                        <p class="img-caption">Добавить</p>
                    </label>
                </li>
            </ul>
        </div>
        <input type="hidden" id="data-to-submit" name="data">
    </form>
</div>
<div class="tour-controls">
    <button class="save-changes btn frm-ok" id="save-changes">Создать фототур</button>
    <button class="cancel-changes btn delete-btn" id="cancel-changes">Отменить</button>
</div>