<div class="clearfix">
    <div class="tour-cover-wrapper">
        <div class="tour-cover" style="background-image: url({{cover}})"></div>
    </div>
    <div class="tour-info">
        <h3 class="tour-header">
            <span>{{title}} ({{getDate startDate endDate}})</span>
            <span class="icon-cancel tour-delete tour-control"></span>
            <span class="icon-pencil tour-edit tour-control"></span>
        </h3>
        <p class="tour-desc">{{desc}}</p>
    </div>
</div>
