<div class="clearfix">
    <div class="tour-cover-wrapper">
        <div class="tour-cover" style="background-image: url({{cover}})"></div>
    </div>
    <div class="tour-info">
        <h3 class="tour-header">{{title}} ({{getDate startDate endDate}})</h3>
        <p class="tour-desc">{{desc}}</p>
    </div>
</div>
<div class="tour-controls">
    <span class="icon-cancel tour-delete tour-control"></span>
    <span class="icon-pencil tour-edit tour-control"></span>
</div>
