<h2 class="tour-category-header next-tours-header">Будущие фототуры</h2>
<ul class="tours-list next-tours-list" id="next-tours-list">

</ul>
<h2 class="tour-category-header heading prev-tours-header">Прошедшие фототуры</h2>
<ul class="tours-list prev-tours-list" id="prev-tours-list">

</ul>
