<li class="input-group-item">
    <p class="input-group-header">{{day}}</p>
    <ol class="day-schedule-list input-list" data-day="{{day}}">
        <li class="input-group-item">
            <input type="text" class="wide-input">
            <span class="icon-cancel tour-control delete-field"></span>
        </li>
    </ol>
    <button class="add-day-schedule add-field-btn btn">Добавить пункт</button>
</li>