body {
  background: #d4d3d3;
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #94a19a;
  padding: 15px;
  border-radius: 10px;

  input {
    display: block;
    margin: 15px auto;
    transition: all .3s ease-in-out;
    padding: 5px;
    font-size: 2rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #DDDDDD;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  #submit {
    cursor: pointer;
    padding: 5px 40px;
    border: 1px solid #509111;
    background: linear-gradient(top, #68b12f, #50911e);
    text-shadow: 0 -1px 0 #396715;
    box-shadow: 0 1px 0 0 #9fd574 inset;
    color: #fff;
  }
}

