.tour-category-header {
  font: 2.8rem Forum;
  background: #94a19a;
  padding: 5px 10px;
  margin-bottom: 5px;

  &::after {
    display: inline;
    font-size: 15px;
    margin-left: 5px;
  }

  &.hidden::after {
    content: "\25b2"; //▲
  }

  &:not(.hidden)::after {
    content: "\25bc";//▼
  }
}

.tour-cover-wrapper {
  float: left;
  width: 20%;
  margin: 0 10px 0 0;
}

.tour-cover {
  width: 100%;
  height: 0;
  padding-bottom: 67%;
  background-position: center;
  background-size: cover;
}

.tour-info {
  //float: left;
  //width: 80%;
  //padding-left: 15px;
}

.tour-header {
  margin-bottom: 10px;
}

.tour-desc {
  text-align: justify;
}

.tour-item {
  padding-bottom: 15px;
}

.tour-item + .tour-item {
  padding-top: 15px;
  border-top: 1px solid #000;
}

.tour-control {
  float: right;
}

.tour-control:hover {
  color: red;
}

.edit-tours-header {
  &::after {
    content: " " !important;
  }
}

.tour-fields {
  font-family: Roboto;
  padding-left: 15px;
  padding-top: 15px;

  .btn {
    font: 1.8rem Forum;
    padding: 5px 15px;
    background: #94a19a;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
  }

  .tour-field + .tour-field {
    border-top: 1px solid #000;
  }

  .tour-field {
    padding: 10px 0;

    label {
      display: inline-block;
      width: 200px;
      vertical-align: top;
    }

    input, textarea {
      width: 300px;
      padding: 10px;
      font: 16px Roboto;
    }

    textarea {
      resize: vertical;
    }

    .input-group {
      padding-left: 15px;

      .input-group-item {
        margin-bottom: 15px;
      }

      .wide-input {
        width: 90%;
      }
    }

    ol {
      list-style-position: inside
    }

    .input-group-header {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
    }
  }
}

.edit-map {
  height: 300px;
  max-width: 600px;
}

div.ui-datepicker {
  font-size: 16px;
}

.save-changes {
  background: #94a19a;
  font: 1.8rem Forum;
}

.cancel-changes {
  font: 1.8rem Forum;
  background: gray;
}

.new-tour-btn {
  float: right;
  margin: 0 !important;
}

.new-tour-btn:hover {
  text-decoration: underline;
}


.change-photo {
  color: #696969;
  cursor: pointer;

  &:hover {
    color: #509111;
    display: inline-block;
    animation: spin 2s infinite linear;
  }
}

.add-pics {
  border: 2px dashed #c0c0c0;
  text-align: center;
  color: #c0c0c0;
  transition: all .6s;
  font-size: 168px;

  label {
    display: block;
  }

  &:hover .plus   {
    color: #000;
    border-color: #000;
    transform: none !important;
  }

  .plus {
    height: 0;
    padding-bottom: 60%;
    line-height: 168px;
    font-family: Forum;
  }
}

.tour-field {

  .add-pics {
    cursor: pointer;
    border: 2px dashed #c0c0c0;
    text-align: center;
    color: #c0c0c0;
    transition: all .6s;
    font-size: 168px;

    label {
      display: block;
      width: initial;
    }
  }
}
.images-gallery .gallery-img-item label {
  display: block;
  width: initial;
}