$bg-nav: #1a1a1a;
$bg-header: #08251e;
$bg-wrapper: #000;

$cl-header: #94a19a;
$cl-header-hover: #fafafa;
$font-header: "Monotype Corsiva";

$bg-main-after: #d4d3d3;

$height-header: 490px;

$pt-header: 47px;

$mt-gallery: -331px;

$font-nav: 3.6rem "Forum";
$font-nav-decoration: underline;

$font-sign: 4.8rem "Forum";

$font-gallery: 2.5rem 'Roboto';

$bg-figcaption: #c1c1c1;
$bg-figcaption-hover: #fafafa;

$cl-figcaption: #060606;
$cl-figcaption-hover: #034a05;

$bg-accordion: #d4d3d3;
$bg-accordion-header: #94a19a;

$font-about: 2.5rem 'Forum';



$dashboard-bg: #f1f1f1;